<!DOCTYPE html>
<html>
    <head>

        <link href="/css/login.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <input class="inp" type="text" name="username" placeholder="Enter username" required><br>
                <input class="inp" type="password" name="password" placeholder="Enter password" required><br>

                <input class="inp" type="submit" value="Login">
            </form>
            <p>If you are a new User..!! Signup here</p>
            <form action="/">

                <input class="inp" type="submit" value="SignUp">
            </form>
        </div>

    </body>
</html>